<!-- <footer class="footer p-3" style="background-color: #5142d9; color: white;">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <a>
        <img class=" me-auto" width="100" src="../../../assets/logo-white.png" alt="Logo">
      </a>
      <div>
        <p class="text-center">&copy; 2024.</p>
      </div>
    </div>
  </div>
</footer> -->
<footer class="footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-3">
        <h5 routerLink="/" class="footer-title">Quick Links</h5>
        <ul class="footer-links">
          <li><a routerLink="/patients">Patients</a></li>
          <li><a routerLink="/addpatients">Add Patients</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="footer-title">Contact Info</h5>
        <p>Email: admin&#64;gmail.com</p>
        <div class="social-icons">
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="text-center py-2">
      <p>&copy; 2024 Vaccine Platform. All rights reserved.</p>
    </div>
  </div>
</footer>
