.patients-container{
  margin-top: 7rem;
  min-height: 90vh;
  padding: 1rem 8rem;
}

.border-only-btn {
  background-color: transparent;
  border: 1px solid #5142d9;
}

.border-only-btn:hover {
  background-color: #5142d9;
  color: #fff;
}

.card {
  border-radius: 12px;
  /* border: 1px solid rgba(255, 255, 255, 0.125); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: linear-gradient(259deg, #e0e2ffb5, #ffffff);

}

.patient-card {
  background-color: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.avatar-container {
  position: relative;
  width: 50px;
  height: 50px;
}

.avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.calendar-icon {
  font-size: 24px;
  color: #5142d9;
}

.age-icon {
  font-size: 24px;
  color: #5142d9;
}

.stat-item {
  font-weight: 500;
}

.btn-outline-primary {
  border-color: #5142d9;
  color: #5142d9;
  font-weight: 500;
}

.btn-outline-primary:hover {
  background-color: #5142d9;
  color: white;
}

.card-footer {
  margin-top: 20px;
  border-top: 1px solid #9071d1;
  padding-top: 10px;
}
