<div class="patients-container">
  <h2 class="mb-4">Patients Overview</h2>

  <div class="row mb-4 align-items-center">
    <div class="col-md-6">
      <input type="text" class="form-control shadow-sm" placeholder="Search patients..." [(ngModel)]="searchTerm" (input)="filterPatients()">
    </div>
    <div class="col-md-6 text-end">
      <a routerLink="/addpatients" class="btn btn-primary shadow-sm" style="background-color: #5142d9;">Add New Patient</a>
    </div>
  </div>

  <div class="row mt-4" *ngIf="filteredPatients.length > 0">
    <div class="col-md-3 mb-4" *ngFor="let patient of filteredPatients">
      <div class="card patient-card border-0 shadow-sm rounded-lg text-center">
        <div class="card-body">
          <div class="avatar-container mx-auto">
            <img class="avatar-img rounded-circle"
              [src]="patient.gender === 'Female' ? '../../../assets/girl.png' : '../../../assets/boy.png'"
              alt="Patient avatar" />
          </div>

          <!-- Patient Name and Gender -->
          <h5 class="card-title mt-3">{{ patient.patientName }}</h5>
          <p class="card-subtitle text-muted">{{ patient.address }}</p>

          <div class="d-flex justify-content-center align-items-center mt-3">
            <!-- Icon and DOB -->
            <div class="stat-item me-4 text-center">
              <span class="icon calendar-icon"><i class="bi bi-calendar"></i></span>
              <p class="mb-0"> {{ patient.dateOfBirth | date: 'dd-MM-yyyy' }}</p>
            </div>
            <!-- Icon and Age -->
            <div class="stat-item text-center">
              <span class="icon age-icon"><i class="bi bi-hourglass-split"></i></span>
              <p class="mb-0"> {{ patient.ageInweeks }} Weeks</p>
            </div>
          </div>
        </div>

        <!-- View Details Button -->
        <div class="card-footer text-center">
          <button class="btn btn-outline-primary btn-sm" [routerLink]="['/patients', patient.patientId]">View Details</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="filteredPatients.length === 0" class="text-center mt-5">
    <p>No patients found. <br> <a routerLink="/addpatients" class="text-primary">Add a new patient</a>.</p>
  </div>
</div>
