<div id="home" class="px-3">
  <div class="hero-section d-flex justify-content-around align-items-center">
    <div>
      <h1 class="hero-title">Streamline Your Vaccine Management</h1>
      <p class="hero-text">
        Efficiently track patient vaccinations, manage schedules with ease,<br>
        and ensure every immunization is administered on time and without hassle.
      </p>
      <a routerLink="/login" class="btn" style="background-color: #5142d9; color: white;">Login Now</a>
    </div>
    <div>
      <img src="../../../assets/homehero.png" alt="Hero Image" srcset="">
    </div>
  </div>
</div>

<div class="features-section px-3 py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Effortless Tracking</h5>
            <p class="card-text">View and manage patient vaccination records.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Immunization Schedule</h5>
            <p class="card-text">
              See complete immunization schedule
              for all patient.
            </p>
          </div>
        </div>
       </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Secure Access</h5>
            <p class="card-text">All your data is safe and accessible only to you.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
