<div id="home" class="px-3">
  <div class="hero-section d-flex justify-content-around align-items-center">
    <div>
      <h1 class="hero-title">Streamline Your Vaccine Management</h1>
      <p class="hero-text">
        Efficiently track patient vaccinations, manage schedules with ease,<br>
        and ensure every immunization is administered on time and without hassle.
      </p>
      <a routerLink="/login" class="btn" style="background-color: #5142d9; color: white;">Login Now</a>
    </div>
    <div>
      <img src="../../../assets/homehero.png" alt="Hero Image" srcset="">
    </div>
  </div>
</div>

<div class="section-container px-5" style="padding: 4rem 0; background: linear-gradient(135deg, #5142d9, #eeedfb);">
    <div class="row align-items-center">
      <div class="col-md-6 text-center">
        <img src="../../../assets/bg3.png" class="img-fluid" alt="Patients Overview" style="border-radius: 10px;">
      </div>
      <div class="col-md-6 text-center text-md-left">
        <h2 class="section-title text-light">Patients Overview</h2>
        <p class="section-text text-light">View and manage patient vaccination records.</p>
        <a routerLink="/login" class="btn btn-light btn-lg shadow-sm"
          style="background-color: #fff; color: #5142d9;">
          <i class="fas fa-eye"></i> View All Patients
        </a>
      </div>
    </div>
  </div>

  <div class="section-container px-5" style="padding: 4rem 0; background-color: #f6f7fc;">
    <div class="row align-items-center flex-md-row-reverse">
      <div class="col-md-6 text-center">
        <img src="/../../../assets/baby1.png" class="img-fluid" alt="Upcoming Vaccinations"
          style="border-radius: 10px;">
      </div>
      <div class="col-md-6 text-center text-md-left">
        <h2 class="section-title">Upcoming Vaccinations</h2>
        <p class="section-text">Get insights of upcoming vaccination at a glance</p>
        <a routerLink="/login" class="btn btn-primary btn-lg shadow-sm">
          <i class="fas fa-calendar-check"></i> View Full Schedule
        </a>
      </div>
    </div>
  </div>

<footer class="footer p-3" style="background-color: #5142d9; color: white;">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <a>
        <img class=" me-auto" width="100" src="../../../assets/logo-white.png" alt="Logo">
      </a>
      <div>
        <p class="text-center">&copy; 2024.</p>
      </div>
    </div>
  </div>
</footer>
