.landing-page-container{
  margin-top: 7rem;
  min-height: 90vh;
}


.btn {
  background-color: #5142d9;
  color: white;
}

#vaccinationChart,
#vaccineTypeChart {
  max-width: 100%;
  max-height: 400px;
  height: 400px;
  width: 100%;
}

.hero-section {
  height: 80vh;
  text-shadow:2 px 2px 4px rgb(186 185 226 / 80%)
}

.hero-content h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.card{
  width: 300px;
  margin-right: 3rem;
}

.card-text{
  color: #6c757d;
  font-weight: 400;
}

.section-container
{
  min-height: 70vh;
  width: 100%;
}

.highlight-number {
  font-size: 3rem;
  color: #5142d9;
  padding: 0.5rem;
  display: inline-block;
  margin-bottom: 1rem;
}
